h1,
h2,
h3,
h4{
    color: var(--font-color);
    margin: 0;
    padding: 0;
}
h2{
    font-size: clamp(1.25rem, 0.208rem + 4.63vw, 4.375rem);
}
p{
    display: inline-block;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    &:hover{
        color: var(--white);
        cursor: pointer;
    }
}
