h1,
h2,
h3,
h4{
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

h1{
    font-size: clamp(1.25rem, -0.089rem + 3.571vw, 3.125rem)
}

h2{
    font-size: clamp(1.25rem, 0.208rem + 4.63vw, 4.375rem);
}
p{
    display: inline-block;
}

a{
    width: fit-content;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--white);
    background: none;
    &:hover{
        cursor: pointer;
    }
}

ul{
    list-style: none;
}