


:root{
 --bg: #EFFACE;
 --pic-bg:hsl(285, 27%, 77%);
 
 //fonts
 --font-color:#23674F;
 --font-color2:#27906B;
 --font-color-hover: #5bd7ac;
 --skills-color:  hsl(0, 3%, 23%);

 //btns
 --btn-color: #FF6363;
 --btn-color-hover: #F5ACAC;
 
 //titles gradiante
 --primary:hsl(263, 72%, 89%);
 --secondary :rgba(222, 206, 247, 0);
/*
 //skills gradiante 
--primary-skills:#CDB6D5;
--secondary-skills:#C1AAD2;
--first-skills:#CDB6D5;
--end-skills:#BFA1CA;

//projects gradiante
--first-projects:#CDB6D5;
--primary-projects:#C1AAD2;
--secondary-projects:#BFA1CA;
*/
 //quotes-svg
 --first-q-svg:hsl(265, 69%, 76%);
 --sec-q-svg:hsl(266, 77%, 83%);

 //cards
 --card-bg:hsl(0, 0%, 85%);
 --card-info:hsl(0, 0%, 100%);
 --card-shadow:hsl(0, 10%, 46%);  
 
 //basic
 --white:#fff;
 --black:#000;
}