
@use '../util/' as *;

//navigation bar styles

#head{
    padding: rem(30) rem(30) rem(52.66) rem(30);

    @include breakpoint-up(medium){
    padding: 40px 90px 151px 90px ;  
    }
}

.nav-container{
    padding-bottom: 20px;
    border-bottom: 2px var(--btn-color) solid ;
    a{
        display: none;
        color: var(--font-color);
        &:hover{
            color: var(--font-color-hover);
        }
            @include breakpoint-up(medium){
            display: block;
            
        }
    }
    
    .navbar-items{
        display: flex;
        justify-content: space-around;

        //small screens only
        @include breakpoint-down(small){
        justify-content:flex-start;

        }

        #menu{
            border: none;
            margin-bottom: rem(14.34);
            cursor: pointer;
            
            @include breakpoint-up(medium){
                display: none;
            }

           svg:hover{
                fill:var( --btn-color-hover);
            }
        }    
              
        #logo{
            margin-bottom: rem(10);

            @include breakpoint-up(medium){
                width: 39px;
                height: 58px;
            }
        }
    }


}