@use '../util/' as *;

// THE PROJECTS SECTION STYLES

.projects{
    padding-inline: rem(15);
    padding-block: rem(65);

    &__container{
        margin-bottom: rem(200);
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(1, 400px);
        gap: 15px 9px;
        justify-content: center;

        //small screens only
        @include breakpoint-down(small){
            margin: 0 30px 40px 30px;
            grid-template-columns: 1fr;
            grid-template-rows: 300px;
        }

        .project{
            padding: 20px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            background-color: #F3FBDA;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, z-index 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(1.1);
                z-index: 10;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            
            }

            p{
                font-size:11px;
                border-top: 1px var(--btn-color) solid;
            }
        }
    }
}
