
@use '../util/' as *;

.pri-btn{
    padding: 5px; ;
    width: fit-content;
    height: fit-content;
    background-color: var(--btn-color);
    color: var(--white);
    font-size: clamp(0.125rem, -0.271rem + 1.69vw, 1.25rem);
    border-radius: 17px;
    border: none;
}
